@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --max-section-width: 1200px;
  --header-height: 40px;
  --footer-height: 30px;
  --page-min-height: calc(100svh - var(--header-height) - var(--footer-height));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing-maxwidth: var(--max-section-width);
  --spacing-header-height: var(--header-height);
  --spacing-footer-height: var(--footer-height);
  --spacing-page-height: var(--page-min-height);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
